html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}




::-webkit-scrollbar {
  width: 0px;
  
}

::-webkit-scrollbar-thumb {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: rgb(3, 3, 3);
  border-radius: 10px;


}


/* Scrollbar */
/*::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(2, 2, 2);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(198, 196, 196);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(204, 203, 203);
}

::-webkit-scrollbar-button{
  display: none;
}

::-webkit-scrollbar-corner{
  background-color: rgb(3, 3, 3);
}

::-webkit-scrollbar-track-piece{
  background-color: rgb(6, 6, 6);  
}
*/
/* Scrollbar ends */


.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}

@media screen and (max-width: 400px) {
  .react-player {
    height: 35vh !important;
  }
  .search-bar{
    width:150px;
  }
}

@media screen and (max-width: 300px) {
  .react-player {
    height: 25vh !important;
  }
  .search-bar{
    width:100px;
  }
}

.nounderline {
  text-decoration: none !important;
}

.translucency {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}